extends layout

block content
  section#speak
    each session in sessions
      section.session
        if session.speakerdeck
          aside.speakerdeck
            script.speakerdeck-embed(async, data-id=session.speakerdeck.id, data-ratio=session.speakerdeck.ratio, src="//speakerdeck.com/assets/embed.js")
        else
          aside.image
            img(src=session.imgurl, style="width: 100%; height: auto;", alt="image")
        article
          header
            if session.sessionurl
              h2: a(href=session.sessionurl)=session.title
            else
              h2: a(href=session.lanyrdurl)=session.title
            div Presented #{session.date_ago} at <a href="#{session.conference.url}">#{session.conference.title}</a>
          div.description!=session.description
          footer Topics: #{session.tagger}