<section class="session">
	{{#if speakerdeck}}
	<aside class="speakerdeck">
		<script async class="speakerdeck-embed" data-id="{{speakerdeck.id}}" data-ratio="{{speakerdeck.ratio}}" src="//speakerdeck.com/assets/embed.js"></script>
	</aside>
	{{else}}
	<aside class="image">
		<img src="{{imgurl}}" style="width: 100%; height: auto;" alt="image"/>
	</aside>
	{{/if}}
	<article>
		<header>
			{{#if sessionurl}}<h2><a href="{{sessionurl}}">{{title}}</a></h2>
			{{else}}<h2><a href="{{lanyrdurl}}">{{title}}</a></h2>{{/if}}
			{{#conference}}
			<div>Presented {{date_ago}} at <a href="{{conference.url}}">{{conference.title}}</a></div>
			{{/conference}}
		</header>
		<div class="description">{{&description}}</div>
		<footer>Topics: {{tagger}}</footer>
	</article>
</section>